
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
    min-height: 100vh;
}

header {
    background-color: #005694;
    width: 100vw;
    padding: 50px;
    text-align: center;
}

header h1 {
    color: #ffffff;
    font-size: 40px;
    font-family:initial;
    margin-bottom: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;    
    font-weight: bold;
}

header nav ul li {
    padding: 10px 20px;
}

header nav ul li:hover {
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;

}

main {
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-main {
    background-color: white;
    max-width: 60%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.section-main h2 {
    color: #006bb7;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-main p {
    color: #333333;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.section-main img {
    width: 100%;
   border-radius: 10px;
}

.section-cursos {
    min-width: 80%;
}

.div-conteudo {
    display:flex ;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
}

.div-item{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c2bfbf;
    padding: 20px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.div-item h2{
    text-align: center;
    text-transform: capitalize;
    color: #1496c5;
    font-size: 20px;
}

.div-item p{
    text-align: center;
    color: #333333;

}

.section-contato{
    min-width: 80%;
}

.section-contato form{
    display: flex;
    flex-direction: column;
}

.section-contato form input,
.section-contato textarea {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333333;
    padding: 10px;
    border-radius: 10px;
}

.section-contato form button{
    padding: 20px;
    background-color: #006bb7;
    color: #f4f4f9;
    border: none;
    border-radius: 16px;
}

.section-contato form button:hover{
    background-color: #1496c5;
}

.section-contato form button:disabled{
    background-color: #d1d1d1;
    cursor:not-allowed;
}

.comentarios {
    display: flex;
    flex-direction: column;
}

.comentarios .comentario-item{
    display: flex;
    flex-direction: column;
  background-color: #c2bfbf;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px;
}