*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #a7c5fd;
  }
  
  header{
    background-color: #ffffff;
    margin: 30px auto 10px;
    width: 80vw;
    padding: 20px;
    border-radius: 16px;
  }
  
  header h2{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 16px;
    height: fit-content;
    display:flex ;
    flex-direction: column;
  }
  
  .card img{
    width: 100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }
  
  .card .dados{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .card .dados strong{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }





